{% extends "admin/base.html" %}

{% load i18n %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2702/2702647.svg" sizes="16x16" type="image/png">
    <style>
        #header {
            background-color: #334555;
            color: #ffefef;
        }

        .module h2, .module caption, .inline-group h2 {
            background-color: #334555;
        }

        .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background: #2e6237;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
        }

        div.breadcrumbs {
            background: #f4f6e9;
            padding: 10px 40px;
            border: none;
            font-size: 14px;
            color: white;
            text-align: left;
        }

        div.breadcrumbs a {
            color: #305462;
        }

        div.breadcrumbs {
            background: #f4f6e9;
            padding: 10px 40px;
            border: none;
            font-size: 14px;
            color: #334555;
            text-align: left;
        }

        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color: #ffffff;
        }

        #content-related {
            background: #fffbee;
        }

        body.login {
            background: #ffffff !important;
        }
    </style>

{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}

    {% load i18n %}
    {% trans 'Cambiar lenguaje' %}
    <form action="/i18n/setlang/" method="post" style="display: inline; margin: 2px">
        {% csrf_token %}
        <div style="display: inline;">
            <select name="language" onchange="form.submit()">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% ifequal LANGUAGE_CODE lang.0 %}
                            selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block nav-global %}{% endblock %}