{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}Portada{% endblock %}

{% block content %}

    <div class="container">

        <section class="dark-grey-text">

            <h3 class="font-weight-bold pt-4 mb-4  text-center">{% trans "Bienvenido" %}</h3>

            <h6 class="font-italic mb-5 text-justify">
                <b>¿Deseas transformar los datos de tu negocio en conocimiento de alto valor?</b>
                ¿Necesitas tomar decisiones rápidas con el respaldo de los datos de tu negocio, conocimiento de tus
                clientes e información disponible en Internet?
            </h6>

            <div class="row mx-lg-5 mx-md-3 text-center">
                <div class="col-md-12 mb-12">
                    <div class="view mb-5">
                        {% load static %}
                        <img src="{% static 'core/img/data.png' %}" width="100"
                             class="img-fluid" alt="smaple image">
                    </div>
                </div>
            </div>

            <p class="text-center"><b>Mi nombre es Elias</b>, dejame mostrarte lo que los datos pueden hacer por tí</p>
            <div class="row">
                <div class="col-sm-5 m-2">
                    <a class="btn btn-app btn-block" href="{% url 'about' %}">
                        Conoce más sobre mí
                    </a>
                </div>
                <div class="col-sm-5 m-2">
                    <a class="btn btn-app btn-block" href="{% url 'portfolio' %}">
                        Portafolio de proyectos
                    </a>
                </div>
            </div>

        </section>
        <!--Section: Content-->


    </div>

{% endblock %}