{% extends 'core/base.html' %}
{% load i18n %}
{% block title %}Portada{% endblock %}

{% block content %}

    <div class="container">

        <section class="dark-grey-text">

            <h3 class="font-weight-bold pt-4 mb-4  text-center">{% trans "Bienvenido" %}</h3>

            <h6 class="font-italic mb-5 text-justify">
                <b>{% trans "¿Deseas transformar los datos de tu negocio en conocimiento de alto valor?" %}</b>
                {% trans "¿Necesitas tomar decisiones rápidas con el respaldo de los datos de tu negocio, conocimiento de tus clientes e información disponible en Internet?" %}
            </h6>

            <div class="row mx-lg-5 mx-md-3 text-center">
                <div class="col-md-12 mb-12">
                    <div class="view mb-5">
                        {% load static %}
                        <img src="{% static 'core/img/data.png' %}" width="100"
                             class="img-fluid" alt="smaple image">
                    </div>
                </div>
            </div>

            <hr>

            <p class="text-center">
                <b>{% trans "Mi nombre es Elias, " %}</b>{% trans "dejame mostrarte lo que los datos pueden hacer por tí" %}
            </p>
            <div class="row mx-auto">
                <div class="col-sm-6 mb-2">
                    <a class="btn btn-app btn-block" href="{% url 'about' %}">
                        {% trans "Conoce más sobre mí" %}
                    </a>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-app btn-block" href="{% url 'portfolio' %}">
                        {% trans "Portafolio de proyectos" %}
                    </a>
                </div>
            </div>

            <hr>

        </section>
        <!--Section: Content-->


    </div>

{% endblock %}